<div id="header">
    <button class="btn btn-info" onclick="window.location.href='/';">Home</button>
    <button class="btn btn-info" onclick="window.location.href='/engineers';">Engineers</button>
    <button class="btn btn-info" onclick="window.location.href='/machines';">Machines</button>
    <div id="search-bar">
        @using (Html.BeginForm("search","home"))
        {
        @Html.Label("input","Search");
        @Html.TextBox("input",null, new {required = "required"})
        <button class="btn btn-info" type="submit">Search</button>
        }
    </div>
</div>