@{
  Layout = "_Layout";
}
@using Shop.Models;

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Shop</h1>
  </div>
  <div id="landing-page">
    <div class="card">
      <div class="card-body">
        <p>This program tracks treats and flavors. To create edit or delete a treat or flavor please login. </p>
        <button class="btn btn-outline-info" onclick="window.location.href='/treats';">Treats Page</button>
        <button class="btn btn-outline-info" onclick="window.location.href='/flavors';">Flavors Page</button>
      </div>
    </div>
    
  </div>
  
  @Html.Partial("Header")
  @Html.Partial("Footer")
</div>